/* .card{
  border:2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px red;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
}

.titlename{
  font-Family : arial;
  margin: 2rem;
  color:black;
  font-weight:800;


} */

.btn{
  background-color: yellowgreen;
  color: black;
  padding: 10px , 20px;
  border: none;
  cursor: pointer;

}